body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #0f0f0f;
  color: #fff;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.screen {
    display: none;
    text-align: center;
}

.active {
    display: block;
}

button {
  background: #00c853;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 1.2em;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s;
  margin: 10px;
}

button:hover {
  background: #00e676;
}

#question {
  font-size: 2em;
  margin: 30px 0;
}

.answers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  justify-items: center;
}

.answer {
  background: #1e1e1e;
  padding: 20px;
  width: 150px;
  border-radius: 15px;
  cursor: pointer;
  transition: transform 0.2s, background 0.2s;
  font-size: 1.5em;
}

.answer:hover {
  background: #263238;
  transform: scale(1.05);
}

.answer.correct {
  background: #2e7d32;
}

.answer.wrong {
  background: #b71c1c;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  font-size: 1.3em;
  margin-bottom: 20px;
}

#final-score {
  font-size: 1.6em;
  margin: 20px 0;
}

h1 {
  text-align: center;
  font-size: 1.2em;
}

.back {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

footer {
  text-align: center;
  padding: 20px 0;
  margin-top: auto;
  background-color: #111;
}
